<!DOCTYPE html>
<html>

<head>
    <title>C2Detective Analysis Report</title>
    <style>
        .report-table {
            border-collapse: collapse;
            width: 100%;
        }

        .report-table th,
        .report-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .report-table th {
            background-color: #f2f2f2;
        }

        .general-table {
            border-collapse: collapse;
            width: 100%;
        }

        .general-table td:first-child {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .general-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        hr {
            border: 1px solid black;
        }

        .not-detected {
            color: rgb(34, 158, 23);
            font-size: 16px;
            font-weight: bold,
        }

        .one-column-table {
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            font-size: 14px;
            width: 100%;
        }

        .one-column-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .one-column-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            font-size: 24px;
            font-weight: bold;
        }

        .green {
            background-color: green;
            color: white;
        }

        .orange {
            background-color: orange;
            color: white;
        }

        .red {
            background-color: red;
            color: white;
        }
        .flex-container {
          display: flex;
          align-items: center;
        }
    </style>
</head>

<body>

    <h1>C2Detective Analysis Report</h1>

    <hr>
    <h2>General information</h2>
    <table class="general-table">
        <tr>
            <td>Capture file path</td>
            <td>{{ extracted_data.get("filepath") }}</td>
        </tr>
        <tr>
            <td>Analysis timestamp</td>
            <td>{{ extracted_data.get("analysis_timestamp") }}</td>
        </tr>
        <tr>
            <td>Capture file SHA256</td>
            <td>{{ extracted_data.get("capture_sha256") }}</td>
        </tr>
        <tr>
            <td>Capture start time</td>
            <td>{{ extracted_data.get("capture_timestamps").get("start_time") }}</td>
        </tr>
        <tr>
            <td>Capture end time</td>
            <td>{{ extracted_data.get("capture_timestamps").get("end_time") }}</td>
        </tr>
        <tr>
            <td>Number of all connections</td>
            <td>{{ extracted_data.get("number_of_all_connections") }}</td>
        </tr>
        <tr>
            <td>Number of external connections</td>
            <td>{{ extracted_data.get("number_of_external_connections") }}</td>
        </tr>
        <tr>
            <td>Number of unique domain names</td>
            <td>{{ extracted_data.get("number_of_unique_domain_names") }}</td>
        </tr>
        <tr>
            <td>Number of unique public IP addresses</td>
            <td>{{ extracted_data.get("number_of_unique_public_IP_addresses") }}</td>
        </tr>
        <tr>
            <td>Number of HTTP sessions</td>
            <td>{{ extracted_data.get("number_of_HTTP_sessions") }}</td>
        </tr>
        <tr>
            <td>Number of extracted URLs</td>
            <td>{{ extracted_data.get("number_of_extracted_URLs") }}</td>
        </tr>
        <tr>
            <td>Number of extracted TLS certificates</td>
            <td>{{ extracted_data.get("number_of_extracted_TLS_certificates") }}</td>
        </tr>
    </table>

    <hr>
    <div class="flex-container">
      <h2>Number of detected potential indicators of Command and Control communication</h2>
      <div class="circle{% if c2_indicators_count == 0 %} green{% elif c2_indicators_count < c2_indicators_total_count / 2 %} orange{% else %} red{% endif %}">
        {{ c2_indicators_count }} / {{ c2_indicators_total_count }}
      </div>
    </div>

    <hr>
    <h2>Connections with excessive frequency</h2>
    {% if detected_iocs.get("excessive_frequency") %}
    <table class="report-table">
        <tr>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
            <th>Frequency</th>
        </tr>
        {% for entry in detected_iocs.get("excessive_frequency") %}
        <tr>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
            <td>{{ entry.get("frequency") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Long connections</h2>
    {% if detected_iocs.get("long_connection") %}
    <table class="report-table">
        <tr>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
            <th>Duration</th>
        </tr>
        {% for entry in detected_iocs.get("long_connection") %}
        <tr>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
            <td>{{ entry.get("duration") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Unusual big HTTP response size</h2>
    {% if detected_iocs.get("big_HTTP_response_size") %}
    <table class="report-table">
        <tr>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
            <th>Response Size</th>
        </tr>
        {% for entry in detected_iocs.get("big_HTTP_response_size") %}
        <tr>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
            <td>{{ entry.get("response_size") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Malicious HTTP headers</h2>
    {% if detected_iocs.get("malicious_HTTP_headers") %}
    <table class="report-table">
        <thead>
            <tr>
                <th colspan="2">General Information</th>
                <th colspan="6">Session Information</th>
                <th colspan="9">HTTP Headers</th>
            </tr>
            <tr>
                <th>C2 Framework</th>
                <th>Malicious Header</th>
                <th>Timestamp</th>
                <th>Source IP</th>
                <th>Source Port</th>
                <th>Destination IP</th>
                <th>Destination Port</th>
                <th>URL</th>
                <th>User Agent</th>
                <th>Connection</th>
                <th>Content Length</th>
                <th>Content Type</th>
                <th>Date</th>
                <th>Server</th>
                <th>HTTP Version</th>
                <th>Status Code</th>
                <th>Reason Phrase</th>
            </tr>
        </thead>
        <tbody>
            {% for header in detected_iocs.get("malicious_HTTP_headers") %}
            <tr>
                <td>{{ header.get("c2_framework") }}</td>
                <td>{{ header.get("malicious_header") }}</td>
                <td>{{ header.get("session").get("timestamp") }}</td>
                <td>{{ header.get("session").get("src_ip") }}</td>
                <td>{{ header.get("session").get("src_port") }}</td>
                <td>{{ header.get("session").get("dst_ip") }}</td>
                <td>{{ header.get("session").get("dst_port") }}</td>
                <td>{{ header.get("session").get("url") }}</td>
                <td>{{ header.get("session").get("user_agent")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Connection")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Content_Length")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Content_Type")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Date")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Server")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Http_Version")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Status_Code")|default("N/A") }}</td>
                <td>{{ header.get("session").get("http_headers").get("Reason_Phrase")|default("N/A") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Malicious TLS certificate values</h2>
    {% if detected_iocs.get("malicious_TLS_certificates") %}
    <table class="report-table">
        <thead>
            <tr>
                <th colspan="2">General Information</th>
                <th colspan="4">Connection</th>
                <th colspan="5">Issuer</th>
                <th colspan="5">Subject</th>
            </tr>
            <tr>
                <th>C2 Framework</th>
                <th>Malicious Value</th>
                <th>Source IP</th>
                <th>Source Port</th>
                <th>Destination IP</th>
                <th>Destination Port</th>
                <th>Common Name</th>
                <th>Organization Name</th>
                <th>Locality Name</th>
                <th>State/Province Name</th>
                <th>Country Name</th>
                <th>Common Name</th>
                <th>Organization Name</th>
                <th>Locality Name</th>
                <th>State/Province Name</th>
                <th>Country Name</th>
            </tr>
        </thead>
        <tbody>
            {% for cert in detected_iocs.get("malicious_TLS_certificates") %}
            <tr>
                <td>{{ cert.get("c2_framework") }}</td>
                <td>{{ cert.get("malicious_value") }}</td>
                <td>{{ cert.get("src_ip") }}</td>
                <td>{{ cert.get("src_port") }}</td>
                <td>{{ cert.get("dst_ip") }}</td>
                <td>{{ cert.get("dst_port") }}</td>
                <td>{{ cert.get("issuer").get("commonName") }}</td>
                <td>{{ cert.get("issuer").get("organizationName") }}</td>
                <td>{{ cert.get("issuer").get("localityName") }}</td>
                <td>{{ cert.get("issuer").get("stateOrProvinceName") }}</td>
                <td>{{ cert.get("issuer").get("countryName") }}</td>
                <td>{{ cert.get("subject").get("commonName") }}</td>
                <td>{{ cert.get("subject").get("organizationName") }}</td>
                <td>{{ cert.get("subject").get("localityName") }}</td>
                <td>{{ cert.get("subject").get("stateOrProvinceName") }}</td>
                <td>{{ cert.get("subject").get("countryName") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Outgoing traffic to Tor exit nodes</h2>
    {% if detected_iocs.get("Tor_exit_nodes") %}
    <table class="report-table">
        <thead>
            <tr>
                <th>Tor Exit Node IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for ip_address in detected_iocs.get("Tor_exit_nodes") %}
                <tr>
                    <td>{{ ip_address }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <br />
    {% endif %}

    {% if detected_iocs.get("Tor_exit_network_traffic") %}
    <table class="report-table">
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
        </tr>
        {% for entry in detected_iocs.get("Tor_exit_network_traffic") %}
        <tr>
            <td>{{ entry.get("timestamp") }}</td>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Tor traffic</h2>
    {% if detected_iocs.get("Tor_nodes") %}
    <table class="report-table">
        <thead>
            <tr>
                <th>Tor Node IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for ip_address in detected_iocs.get("Tor_nodes") %}
                <tr>
                    <td>{{ ip_address }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <br />
    {% endif %}

    {% if detected_iocs.get("Tor_network_traffic") %}
    <table class="report-table">
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
        </tr>
        {% for entry in detected_iocs.get("Tor_network_traffic") %}
        <tr>
            <td>{{ entry.get("timestamp") }}</td>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Detected DGA domain names</h2>
    {% if detected_iocs.get("DGA_domains") %}
    <table class="one-column-table">
        {% for domain in detected_iocs.get("DGA_domains") %}
        <tr>
            <td>{{ domain }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>DNS Tunneling</h2>
    {% if detected_iocs.get("DNS_Tunneling") %}
    <table class="report-table">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Query</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
            {% for domain, data in detected_iocs.get("DNS_Tunneling").items() %}
            {% for query_dict in data.get("queries") %}
            {% for query, frequency in query_dict.items() %}
            <tr>
                <td>{{ domain }}</td>
                <td>{{ query }}</td>
                <td>{{ frequency }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>JA3 matches</h2>
    {% if detected_iocs.get("JA3") %}
    <table class="report-table">
        <tr>
            <th>Timestamp</th>
            <th>JA3</th>
            <th>JA3 Digest</th>
            <th>Type</th>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
        </tr>
        {% for entry in detected_iocs.get("JA3") %}
        <tr>
            <td>{{ entry.get("timestamp") }}</td>
            <td>{{ entry.get("ja3") }}</td>
            <td>{{ entry.get("ja3_digest") }}</td>
            <td>{{ entry.get("type") }}</td>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Connections with C2 IP addresses</h2>
    {% if detected_iocs.get("c2_ip_address") %}
        <table class="report-table">
            <thead>
                <tr>
                    <th>C2 IP address</th>
                </tr>
            </thead>
            {% for ip_address in detected_iocs.get("c2_ip_address") %}
            <tr>
                <td>{{ ip_address }}</td>
            </tr>
            {% endfor %}
        </table>
        <br />
    {% endif %}
    
    {% if detected_iocs.get("c2_ip_address_connection") %}
    <table class="report-table">
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Source Port</th>
            <th>Destination IP</th>
            <th>Destination Port</th>
        </tr>
        {% for entry in detected_iocs.get("c2_ip_address_connection") %}
        <tr>
            <td>{{ entry.get("timestamp") }}</td>
            <td>{{ entry.get("src_ip") }}</td>
            <td>{{ entry.get("src_port") }}</td>
            <td>{{ entry.get("dst_ip") }}</td>
            <td>{{ entry.get("dst_port") }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Queried C2 domain names</h2>
    {% if detected_iocs.get("c2_domain") %}
    <table class="report-table">
        <thead>
            <tr>
                <th>C2 domain name</th>
            </tr>
        </thead>
        {% for domain in detected_iocs.get("c2_domain") %}
        <tr>
            <td>{{ domain }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <h2>Requested C2 URLs</h2>
    {% if detected_iocs.get("c2_url") %}
        <table class="report-table">
            <thead>
                <tr>
                    <th>C2 URL</th>
                </tr>
            </thead>
            <tbody>
                {% for url in detected_iocs.get("c2_url") %}
                    <tr>
                        <td>{{ url }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <br />
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    {% if detected_iocs.get("c2_http_sessions") %}
        <table class="report-table">
            <thead>
                <tr>
                    <th colspan="5">Session Information</th>
                    <th colspan="3">Parsed Data</th>
                    <th colspan="9">HTTP Headers</th>
                </tr>
                <tr>
                    <th>Timestamp</th>
                    <th>Source IP</th>
                    <th>Source Port</th>
                    <th>Destination IP</th>
                    <th>Destination Port</th>

                    <th>Method</th>
                    <th>URL</th>
                    <th>Path</th>

                    <th>User-agent</th>
                    <th>Connection</th>
                    <th>Content Length</th>
                    <th>Content Type</th>
                    <th>Date</th>
                    <th>Server</th>
                    <th>HTTP Version</th>
                    <th>Status Code</th>
                    <th>Reason Phrase</th>

                </tr>
            </thead>
            <tbody>
                {% for session in detected_iocs.get("c2_http_sessions") %}
                <tr>
                    <td>{{ session.get("timestamp") }}</td>
                    <td>{{ session.get("src_ip") }}</td>
                    <td>{{ session.get("src_port") }}</td>
                    <td>{{ session.get("dst_ip") }}</td>
                    <td>{{ session.get("dst_port") }}</td>
                    <td>{{ session.get("method")|default("N/A") }}</td>
                    <td>{{ session.get("url")|default("N/A") }}</td>
                    <td>{{ session.get("path")|default("N/A") }}</td>
                    <td>{{ session.get("user_agent")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Connection")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Content_Length")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Content_Type")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Date")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Server")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Http_Version")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Status_Code")|default("N/A") }}</td>
                    <td>{{ session.get("http_headers").get("Reason_Phrase")|default("N/A") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <hr>
    <h2>Requested crypto / cryptojacking domains</h2>
    {% if detected_iocs.get("crypto_domains") %}
    <table class="one-column-table">
        {% for domain in detected_iocs.get("crypto_domains") %}
        <tr>
            <td>{{ domain }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="not-detected">NOT DETECTED</p>
    {% endif %}

    <hr>
    <div style="text-align: right;">
        <p>Generated by <a href="https://github.com/martinkubecka/C2Detective" target="_blank">C2Detective</a> on {{
            current_datetime }}</p>
    </div>

</body>

</html>